<% if user_signed_in? %>
  <div class="row">

    <%= render 'users/shared/mypage_sidemenu' %>
    
    <div class="col-md-8">

    <table class="table">
      <caption>生涯成績累計</caption>
      <thead>
        <tr>
          <th>出場試合数</th>
          <th>出場試合時間</th>
          <th>得点数</th>
          <th>アシスト数</th>
          <th>イエローカード</th>
          <th>レッドカード</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.records.count %>試合</td>
          <td>1890時間</td>
          <td>43得点</td>
          <td>29アシスト</td>
          <td>4枚</td>
          <td>1枚</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <caption>2015年成績累計</caption>
      <thead>
        <tr>
          <th>出場試合数</th>
          <th>出場試合時間</th>
          <th>得点数</th>
          <th>アシスト数</th>
          <th>イエローカード</th>
          <th>レッドカード</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>26試合</td>
          <td>258時間</td>
          <td>8得点</td>
          <td>22アシスト</td>
          <td>1枚</td>
          <td>0枚</td>
        </tr>
      </tbody>
    </table>
    
    <div class="panel panel-primary">
      <div class="panel-heading">選手プロフィール</div>
      <div class="panel-body">
        <ul>
          <li>名前：</li>
          <li>年齢：</li>
          <li>チーム名：</li>
          <li>ポジション：</li>
          <li>身長：</li>
          <li>体重：</li>
        </ul>
      </div>
    </div>
      
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail"><img src="http://lorempixel.com/120/120/city" alt="..."></a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail"><img src="http://lorempixel.com/120/120/city" alt="..."></a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail"><img src="http://lorempixel.com/120/120/city" alt="..."></a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail"><img src="http://lorempixel.com/120/120/city" alt="..."></a>
      </div>
    </div>

    </div>
  </div>
<% else %>
  ログインして
<% end %>