    <!--メイン画像-->
    <div class="jumbotron">
      <div class="container">
        <h1>サッカー成績「記録」×「成長」</h1>
        <p class="copy">サッカー少年・少女をもつ全ての親御様へ</p>
        <p><a href="#" class="btn btn-primary btn-lg" role="button">無料の新規登録はこちら</a></p>
      </div>
    </div>

    <!--サービス概要-->
    <section id="about" class="contents-block">
      <h1>サービス概要</h1>
      <p>プロを目指すサッカー少年・少女をもつ親御様にぜひ使っていただきたいサービスを開発いたしました。生涯に渡ってお子様の成績を残すことができ、<br>
      いつでも成績を確認することができます。選手としての成長に役立つこちらのツールを利用して、お子様と共に夢を追いませんか？</p>
    </section>

    <section id="about" class="contents-block">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">成績の記録</div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><p>練習試合、公式試合、練習に関する様々なデータを簡単に記録し、生涯に渡って成績を残すことが出来ます。</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">成績の確認</div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span><p>蓄積されたデータを期間などで検索。過去の成績を振り返ることで、子供の成長を確認・把握することが出来ます。</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">友達の検索</div>
              <div class="panel-body">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span><p>同じ志を持つ親御さんとサッカーに関する情報交換を中心としたコミュニケーションをとることができます。</p>
              </div>
            </div>
        </div>
      </div>
    </section>
    
    <!--お問い合わせ-->
    <section id="contact" class="contents-block">
      <h1>お問い合わせ</h1>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">お名前</label>
          <div class="col-sm-8">
            <input type="name" class="form-control" id="inputEmail3" placeholder="name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Eメール</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">内容</label>
          <div class="col-sm-8">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-6">
            <button type="submit" class="btn btn-default">メールを送信する</button>
          </div>
        </div>
      </form>
    </section>
  
    <!--フッター-->
    <footer>
			<div class="container">
				<small>
					&copy; 2015 Recowth.
				</small>
			</div>
		</footer>
  </body>
</html>